@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'Lato-Light';
	src: url('../fonts/Lato-Light.eot'); /* IE9*/
	src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Lato-Light.woff2') format('woff2'), /* chrome、firefox */
	url('../fonts/Lato-Light.woff') format('woff'), /* chrome、firefox */
	url('../fonts/Lato-Light.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../fonts/Lato-Light.svg#Lato Light') format('svg'); /* iOS 4.1- */
}
@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold.eot');
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg'), url('../fonts/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}
.holding {
	max-width: 2200px;
	height: 1100px;
	background-image: url("../img/bg-2200.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	border: none;
}
@media (min-width: 2200px) and (min-height: 1100px) {
	.holding {
		background-size: 100% 100%;
	}
}
.logo {
	text-align: center;
	margin: 0 auto;
	padding-top: 60px;
}
.logo img {
	width: 150px;
}
.heading {
	font-family: 'Lato-Bold' !important;
	font-size: 15px;
	line-height: 1.4em;
	color: #ffffff;
	text-align: center;
	padding-bottom: 12px;
}

.textHolder {
	width: 70%;
	max-width: 700px;
	margin-left: 50%;
	margin-right: -50%;
	padding: 40px 7% 40px 7%;
	position: relative;
	top: 300px;
	background-color: rgba(26, 31, 50, 0.9);
	transform: translate(-50%, -50%);
}
.line {
	height: 1px;
	width: 240px;
	background-color: #fff;
	margin: 5px auto 10px auto;
}
.contactBar {
	width: 100%;
	height: 60px;
	background-color: rgba(26, 31, 50, 1.0);
	padding: 0;
}
.contact {
	width: 100px;
	height: 60px;
	padding-top: 2px;
	margin: -60px auto 0 auto;
}
.contact a {
	font-family: 'Lato-Light' !important;
	display: block;
	padding: 5px 0 7px 24px;
	margin-top: 16px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #fff;
	text-decoration: none;
	font-weight: 100;
	font-size: 9px;
}
.contact a:hover {
	color: #ccc;
}
p {
	font-family: 'Lato-Light' !important;
	font-weight: 100 !important;
	font-size: 15px;
	line-height: 1.8em;
	color: #fff;
	margin: 0;
	padding: 0 0 15px 0;
	text-align: center;
}

@media (max-width: 850px) {
	p {
		font-size: 14px;
		line-height: 1.5em;
	}
}
@media (max-width: 645px) {
	p {
		font-size: 13px;
	}
}
@media (max-width: 540px) {
	p {
		font-size: 12px;
	}
}


